* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 18px 'Lucida', sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.logo-nome {
    color: #333;
}

#carrinho-icon img {
    width: 50px;
    margin-right: 110px;
}

#main {
    margin: 0 128px;
}

#carrinho-icon {
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.produto-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 15px 0;
}

.produto {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    justify-content: space-between;
    align-items: center;    
    text-align: center;
    border: 3px solid black;
    padding: 10px 0;
    border-radius: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 140px;
}

.produtos {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos img {
    width: 150px;
}

.produto button {
    background-color: rgb(50, 82, 50);
    padding: 5px 8px;
    border-radius: 10px;
    color: white;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(30, 62, 30);
    transform: scale(1.05);
}

.logo span {
    color: brown;
    font-size: 20px;
}

input {
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 15px;
    width: 500px;
    margin: 10px 0;
}

#buscar button {
    background-color: rgb(50, 82, 50);
    color: white;
    border-radius: 15px;
    padding: 8px 15px;
}

ul {
    list-style: none;
    text-align: center;
}

#carrinho-itens {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    left: 80%;
    text-align: center;
    top: 10%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
}

#itens-lista li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#itens-lista li:last-child {
    border-bottom: none;
}

#preco-total {
    display: block;
    padding: 15px;
    background-color: #eee;
}

.add {
    background-color: greenyellow;
}

.remove {
    background-color: red;
}

.add, .remove {
    padding: 2px 5px;
    border-radius: 10px;
    width: 23px;
    color: white;
}

.limpa {
    background-color: darkgrey;
}

.limpa:hover {
    background-color: #555;
}

#main .container {
    margin-top: 40px;
}

.produto .imagem:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.logo-nome{
    margin-left: 110px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}